<div class="container py-4">
    <div class="title">
        <h1>Test para Spira de Angular</h1>
    </div>
    <div class="content">
        <p>Haz clic en el siguiente botón para mostrar el formulario de prueba:</p>
        <button class="btn btn-primary" (click)="showFormContainer()">Mostrar formulario</button>
    </div>
    <div class="form my-4" *ngIf="getShowForm()">
        <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
            <div class="form-group">
                <label for="username">Nombre de usuario</label>
                <input type="text" name="username" ngModel #username="ngModel" id="username" class="form-control" placeholder="Nombre de usuario" required>
                <small class="form-text text-danger" *ngIf="username.invalid && username.submitted">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" ngModel #email="ngModel" id="email" class="form-control" placeholder="Email" required>
                <small class="form-text text-danger" *ngIf="email.invalid && email.submitted">Este campo es obligatorio</small>
            </div>
            <div class="form-group">
                <p>Haz clic para ver el resultado de enviar el formulario</p>
                <button type="submit" class="btn btn-success" [disabled]="registerForm.invalid">Enviar formulario</button>
            </div>
        </form>
    </div>
    <div class="form-result" *ngIf="getShowFormData()">
        <p>El nombre de usuario que ingresaste es: <span class="text-success">{{getUser().username}}</span></p>
        <p>El email que ingresaste es: <span class="text-success">{{getUser().email}}</span></p>
    </div>
</div>